.produto {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  transition: 0.2s;
}

.produto:hover {
  transform: scale(1.03);
}

.produto h2 {
  color: #0066cc;
}

.preco {
  font-weight: bold;
  color: #009933;
}
